[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juan José López Jaimez (JJLionHeart)
[access "refs/for/refs/*"]
	read = group user/Juan José López Jaimez (JJLionHeart)
	push = group user/Juan José López Jaimez (JJLionHeart)
	label-Code-Review = -2..+2 group user/Juan José López Jaimez (JJLionHeart)
	label-Code-Review = -2..+2 group user/testercoldplay
	label-Code-Review = +0..+1 group Change Owner
	label-Verified = -1..+1 group user/Juan José López Jaimez (JJLionHeart)
	label-Verified = -1..+1 group user/testercoldplay
	label-Verified = -1..+0 group Change Owner
	rebase = group user/Juan José López Jaimez (JJLionHeart)
	removeReviewer = group user/Juan José López Jaimez (JJLionHeart)
	submit = group Change Owner
	submit = group user/Juan José López Jaimez (JJLionHeart)
[access "refs/heads/*"]
	read = group user/Juan José López Jaimez (JJLionHeart)
	create = group user/Juan José López Jaimez (JJLionHeart)
	push = +force group user/Juan José López Jaimez (JJLionHeart)
	pushMerge = group user/Juan José López Jaimez (JJLionHeart)
[access "refs/tags/*"]
	push = group user/Juan José López Jaimez (JJLionHeart)
