{% extends "catalog/base.html" %}

{% block content %}
<!-- Main container -->
<div class="container-fluid">
	    	<div class="row">

	    		<!-- Side bar -->
	    		<div class="col-12 col-lg-auto bg-info sideBarLeft subtleShadow pt-3">
	    			<form action="{% url 'filterSideBar' %}" method="get">
	    				{% csrf_token %}
		    			<div class="row mb-2 mb-lg-4">
		    				<div class="col text-center">
		    					<p class="filterTitle mb-1">Categoria</p>
								{% for category in all_categories %}
		    					<div class="custom-control custom-checkbox text-center">
								  	<input type="checkbox" class="custom-control-input" name="category" id="category{{category.id}}" value="{{category.id}}">
								  	<label class="custom-control-label" for="category{{category.id}}">{{category.Nombre}}</label>
								</div>
								{% endfor %}
		    				</div>
		    			</div>

		    			<div class="row mb-2 mb-lg-4">
		    				<div class="col text-center">
		    					<p class="filterTitle mb-1">Precio</p>
		    					<div class="row mb-2">
		    						<div class="col-auto">
		    							$
		    						</div>
		    						<div class="col slidecontainer">
		    							<input type="range" min="0" max="100" value="0" class="slider" name="priceFilter" id="priceFilter">
		    						</div>
		    						<div class="col-auto">
		    							$$$
		    						</div>
		    					</div>

		    					<div class="row">
		    						<div class="col mx-5">
						        		<div class="priceLabel">Desde: $<span id="priceLabel">3</span></div>
						        	</div>
						        </div>
		    				</div>
		    			</div>

		    			<div class="row mb-2 mb-lg-4">
		    				<div class="col text-center">
		    					<button type="submit" class="btn btn-primary mediumText perfRectangle">Filtrar</button>
		    				</div>
		    			</div>
	    			</form>
	    		</div>

	    		<!-- Search and content -->
	    		<div class="col-12 col-lg bg-light">
	    			<!-- Search -->
	    			<div class="row">
	    				<div class="col p-0">
	    					<form action="{% url 'search' %}" method="get">
							  	<div class="form-row align-items-center px-0 mx-0">
							    	<div class="col px-0 mx-0">
							      		<label class="sr-only " for="inlineFormInput">Nombre del producto... </label>
							      		<input type="text" class="form-control m-0 py-2 mediumText perfRectangle" id="inlineFormInput" name="prodName" placeholder="Nombre del producto...">
							    	</div>
							    	<div class="col-auto px-0">
							      		<button type="submit" class="btn btn-primary m-0 px-5 py-2 mediumText perfRectangle">Buscar</button>
							    	</div>
							  	</div>
							</form>
	    				</div>
	    			</div>

	    			<!-- Content -->
	    			<div id= "productContainer" class="row px-1 fullVSize subtleShadow">

						{% for product in all_products %}
	    				<div class="col py-4">
	    					<div class="card prodItem subtleShadow" style="width: 18rem;">
	    						{% if not product.Imagen %}
	    							<img class="card-img-top subtleShadow" src="https://vignette.wikia.nocookie.net/relics-of-hyrule/images/b/bc/TriforceFull.jpg/revision/latest?cb=20150903015527" alt="Imágen no disponible">
	    						{% else %}
							  		<img class="card-img-top subtleShadow" src="{{product.Imagen}}" alt="Imágen de {{product.Nombre}}" width=256 height=256>
							  	{% endif %}
							  	<div class="card-body">
							    	<h5 class="card-title">{{product.Nombre}}</h5>
							    	<p class="card-text">{{product.Precio}}</p>
							    	<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product{{product.id}}">
									  Ver detalle
									</button>

									<!-- Modal -->
									<div class="modal fade" id="product{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">{{product.Nombre}}</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									        {% if not product.Imagen %}
				    							<img class="card-img-top subtleShadow" src="https://vignette.wikia.nocookie.net/relics-of-hyrule/images/b/bc/TriforceFull.jpg/revision/latest?cb=20150903015527" alt="Imágen no disponible">
				    						{% else %}
										  		<img class="card-img-top subtleShadow" src="{{product.Imagen}}" alt="Imágen de {{product.Nombre}}">
										  	{% endif %}
										  	<p></p>
										  	<p><strong>Nombre:</strong> {{product.Nombre}}</p>
										  	<p><strong>Descripción:</strong> {{product.Descripcion}}</p>
										  	<p><strong>Precio:</strong> ${{product.Precio}} MXN</p>
										  	{% if producto.En_Existencia > 0 %}
										  		<p><strong>En existencia: </strong> Disponible.</p>
										  	{% else %}
										  		<p><strong>En existencia: </strong> Agotado.</p>
										  	{% endif %}
									      </div>
									    </div>
									  </div>
									</div>
							  	</div>
							</div>
	    				</div>
						{% endfor %}
	    			</div>
	    		</div>
	    	</div>
	    </div>
</div>
{% endblock content %}
