body {
	padding-top: 61.6px;
	font-size: 1.1rem;
}

.navbar {
	font-weight: bold;
}

.fullHeight {
	height: 100%;
}

.mediumText {
	font-size: 18px;
}

.perfRectangle {
	border-radius: 0px;
}

.fixedLeft {
	position: fixed;
}

.fullVSize {
  min-height: -webkit-calc(100vh - 106px);
  min-height: -moz-calc(100vh - 106px);
  min-height: calc(100vh - 106px);
  background-color: #FAFAFA;
}

.fullVSize.subtleShadow {
	box-shadow: 3px 3px 5px #E8E8E8 inset;
}

.prodItem.subtleShadow {
	box-shadow: 3px 3px 5px #F2F2F2;
}

.card-img-top.subtleShadow {
	box-shadow: 2px 3px 5px #F7EFEF;
}

.prodItem {
	border: none;
	border-radius: 15px;
}

.sideBarLeft {
	color: #FAFAFA
}

.filterTitle {
	font-weight: bold;
	font-size: 20px;
	color: #FAFAFA;
}